.template__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.template__overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: none;
}

.template__overlay--wrapper {
    position: absolute;
    background-color: var(--bg-overlay);
    height: 100vh;
    width: 100vw;
    display: grid;
}