.template__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

/* default visibility of overlay is ``display: none */
.template__overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: none;
}

/* add padding accordingly to absolute overlay wrapper */
.template__overlay--wrapper {
  background-color: var(--bg-overlay);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10% 20%;
  position: relative;
}

/* add 12 grid column layout to overlay content */
.template__overlay--content {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
}

/* article side menu should take 4 of 12 grid columns */
.template__overlay--articles-menu {
  grid-column: 1 / span 4;
  grid-template-columns: repeat(2, 1fr)!important;
  overflow: visible;
}

/* article should take 8 of 12 grid columns */
.template__overlay--article {
  grid-column: 5 / span 8;
  background-color: var(--primary);
  color: var(--secondary);
  overflow-y: auto;
  position: relative;
}

.template__overlay--button-list {
  display: grid;
  width: 100%;
  height: 100%;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr)!important;
  grid-auto-rows: calc(20% - 8px)!important;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

.template__overlay--button-list:last-child {
  margin-bottom: -10px; /* Offset the gap */
}

/* Track */
.template__overlay--button-list::-webkit-scrollbar-track {
  background: var(--secondary);
}

/* Handle */
.template__overlay--button-list::-webkit-scrollbar-thumb {
  background: var(--primary);
}
