.text__article--article-headline {
  font-size: 1.85rem!important;
  font-weight: bold;
}

.text__article--article-paragraph {
  margin-top: 0.4rem;
  font-size: 1.4rem!important;
  font-weight: normal;
  padding-top: 10px;
  padding-right: 50px;
  overflow-x: hidden;
}

.text__underline--hover:hover {
  text-decoration: underline;
}

.texts__close-button--colors {
  color: var(--secondary);
}

@media (max-width: 320px) {
  /* Styles for small phones */
}

@media (max-width: 480px) {
  /* Styles for mobile devices in portrait mode */
}

@media (max-width: 767px) {
  /* Styles for mobile devices in landscape mode */
}

@media (max-width: 768px) and (min-width: 600px) {
  /* Styles for small tablets in portrait mode */
}

@media (max-width: 1024px) and (min-width: 768px) {
  /* Styles for standard tablets in portrait mode */
}

@media (max-width: 1280px) and (min-width: 1024px) {
  /* Styles for tablets in landscape mode */
}

@media (max-width: 1440px) and (min-width: 1280px) {
  /* Styles for small laptops */
}

@media (max-width: 1600px) and (min-width: 1440px) {
  /* Styles for medium to large laptops / small desktops */
}

@media (min-width: 1920px) {
  /* Styles for extra large screens */
}